<!DOCTYPE html>
<html>
<head>
    <title>Mi Proyecto MVC</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1><%= message %></h1>
    <form action="/tasks" method="get">
        <button type="submit">Ir a la lista de tareas</button>
    </form>
</body>
</html>
